div.theme--light.v-system-bar {
    color: var(--v-text-black-base);
}
div.theme--light.v-system-bar .v-icon {
    color: var(--v-text-black-base);
}

div.theme--light.v-list-item:not(.v-list-item--active):not(.v-list-item--disabled) {
    color: var(--v-text-black-base);

}
.v-system-bar.tw-px-0 {
    padding-inline: 0 !important;
}
.v-system-bar .main-header .v-icon {
    margin: 0 !important;
}
.v-system-bar .main-header .v-icon.tw-font-xl {
    font-size: 25px;
}
.v-application a {
    color: var(--v-light-black-base) ;
}
.v-btn {
    text-transform: none !important;
    letter-spacing: 0.35px !important;
}
