.v-input--selection-controls {
    margin-top: 0px !important;
    padding-top: 0px !important;
}
.checkboxStyle{
    background-color: var(--v-white-base);
    border: 1px solid var(--v-border-gray-base);
border-radius: 4px;
display: flex;
align-items: center;
justify-content: center;


    .v-icon.v-icon{
        align-items: center;
display: inline-flex;
font-feature-settings: "liga";
font-size: 18px;
justify-content: center;
letter-spacing: normal;
line-height: 1;
position: relative;
text-indent: 0;
transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1), visibility 0s;
vertical-align: middle;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
    }
    .v-input__slot{
        align-items: center;
color: inherit;
display: flex;
margin-bottom: 0px !important;
min-height: inherit;
position: relative;
transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
width: 100%;
    }
}
