.custom-radio{
 


  .style_tap {
    background-color: #f8f8f8;
  }
  .Accounting_effect {
    padding: 0.5rem;
    background-color: #f8f8f8;
    border-radius: 1rem;
  }
  .item_in_Accounting {
    background-color: white;
    padding: 0.4rem;
  }
  .gap-c1 {
    grid-gap: 0.65rem;
    gap: 0.65rem;
  }
  
  .v-icon.v-icon {
    align-items: center;
    display: inline-flex;
    font-feature-settings: "liga";
    font-size: 15px !important;
    justify-content: center;
    letter-spacing: normal;
    line-height: 1;
    position: relative;
    text-indent: 0;
    transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1), visibility 0s;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.v-input__slot {
    align-items: center;
    color: inherit;
    display: flex;
    margin-bottom: -17px;
    min-height: inherit;
    position: relative;
    transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
    width: 100%;
}
}
  .v-input--selection-controls{
    margin-top: 0px !important;
    padding-top: 0px !important;
}