// clip-path: polygon(15% 0, 100% 0%, 100% 100%, 15% 100%, 0% 50%);

.v-application--is-rtl {
    .main-toolbar {
        ul.v-breadcrumbs {
            li {
                clip-path: polygon(
                    100% 0%,
                    85% 50%,
                    100% 100%,
                    15% 100%,
                    0% 50%,
                    15% 0
                ) !important;
            }
            li:first-child {
                clip-path: polygon(
                    15% 0,
                    100% 0%,
                    100% 100%,
                    15% 100%,
                    0% 50%
                ) !important;
            }
            li:last-child {
                clip-path: polygon(
                    100% 0%,
                    85% 50%,
                    100% 100%,
                    0 100%,
                    0 0
                ) !important;
            }
        }
    }
}
.toolbar-search {
    .v-text-field__details {
        display: none;
    }
    .v-icon {
        color: var(--v-border-gray-base);
    }
    .v-text-field {
        transition: all 0.2s ease;
        border: 1px solid var(--v-border-gray-base);
    }
    .v-input--is-focused {
        transition: all 0.2s ease;

        border: 1px solid var(--v-primary-base);
    }

    .v-text-field--solo > .v-input__control > .v-input__slot {
        min-height: 32px;
        background-color: var(--v-white-base);
        input {
            padding: 0;
        }
    }

    .v-input--dense > .v-input__control > .v-input__slot {
        margin-bottom: 0px;
    }

    .v-label {
        font-size: 14px;
    }

    .theme--light.v-label {
        color: rgba(0, 0, 0, 0.35);
    }

    .v-text-field.v-text-field--solo.v-input--dense > .v-input__control {
        /* min-height: 38px; */
        min-height: 30px;
    }

    .v-text-field.v-text-field--solo:not(.v-text-field--solo-flat)
        > .v-input__control
        > .v-input__slot {
        box-shadow: none;
    }
}
.main-toolbar {
    padding: 5px;
    border-radius: 18px;
    background-color: var(--v-gray-three-base);
    border: 3px solid var(--v-primary-base);
    border-radius: 15px;

    .buttons-section {
        padding: 8px;
        background-color: var(--v-gray-three-base);
        // border: 6px solid var(--v-white-base);
        border-radius: 8px;
    }
    ul.v-breadcrumbs {
        padding: 0px !important;
        display: flex;
        gap: 0px;

        .v-breadcrumbs__item {
            padding: 4px 30px;
            font-size: smaller;
            color: var(--v-white-base);
            background-color: var(--v-primary-base);
        }

        li {
            border-radius: 4px;
            background-color: var(--v-primary-base);
            clip-path: polygon(
                85% 0,
                100% 50%,
                85% 100%,
                0% 100%,
                15% 50%,
                0% 0%
            ) !important;
        }
        li:first-child {
            clip-path: polygon(
                0% 0%,
                85% 0,
                100% 50%,
                85% 100%,
                0% 100%
            ) !important;
        }
        li:last-child {
            clip-path: polygon(
                100% 0,
                100% 100%,
                0% 100%,
                15% 50%,
                0% 0%
            ) !important;
        }
    }
    .search-input {
        .erp-input-container {
            border-top-right-radius: 0px;
            border-bottom-right-radius: 0px;
        }
    }
    ul {
        .v-breadcrumbs__divider {
            display: none;
        }
    }
    .toolbar-btn {
        background-color: var(--v-white-base);
        border: 1px solid var(--v-border-color-base);
        display: flex;
        align-items: center;
        justify-content: space-around;
        // padding: 3px 10px;
        min-width: 90px;
        min-height:32px ;
        border-radius: 5px;
        font-size: 14px;
        color: var(--v-cool-black-base);
        span{
            font-size: 17px;
        }
        border
        .v-btn__content {
            display: flex;
            gap: 6px;
            span {
                color: var(--v-grey-base) !important;
            }
            
        }
    }
}
.toolbar-shad Button_promptow {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.09);
}
.pagination-max-width {
    min-width: 200px;
    height: 28px;
    z-index: 1;
}
.layer-one-pagin {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 2;
}
.layer-two-pagin {
    position: absolute;
    width: 64%;
    height: 115%;
    top: -2px;
    left: calc(50% - 63px);
    bottom: 0;
    z-index: 3;
}
.layer-three-pagin {
    position: absolute;
    width: 25%;
    height: 126%;
    top: -4px;
    left: calc(50% - 26px);
    bottom: 0;
    z-index: 4;
}
.pagination-first-button {
    padding-inline-end: 4rem;
    padding-inline-start: 1rem;
    border-start-start-radius: 10rem;
    border-end-start-radius: 10rem;
    transition: all 0.1s ease;
}
.pagination-last-button {
    padding-inline-end: 1rem;
    padding-inline-start: 4rem;
    border-start-end-radius: 10rem;
    border-end-end-radius: 10rem;
    transition: all 0.1s ease;
}
.pagination-prev-button {
    padding-inline-end: 2rem;
    padding-inline-start: 1.5rem;
    border-start-start-radius: 10rem;
    border-end-start-radius: 10rem;
    transition: all 0.1s ease;
}
.pagination-next-button {
    padding-inline-end: 1.5rem;
    padding-inline-start: 2rem;
    border-start-end-radius: 10rem;
    border-end-end-radius: 10rem;
    transition: all 0.1s ease;
}
.pagination-main-border {
    // border: 1px solid var(--v-border-gray-base);
}
.pagination-next-button:hover {
    background-color: var(--v-light-flat-primary-base);
    // border: 1px solid var(--v-border-gray-base);
}
.pagination-icon-font {
    font-size: 20px;
}
.pagination-next-button {
    background-color: var(--v-white-base) !important;
    color: var(--v-gray-four-base) !important;
}
.pagination-prev-button {
    background-color: var(--v-white-base) !important;
    color: var(--v-gray-four-base) !important;
}
.pagination-last-button {
    background-color: var(--v-primary-base) !important;
    color: var(--v-white-base) !important;
}
.pagination-first-button {
    background-color: var(--v-primary-base) !important;
    color: var(--v-white-base) !important;
}
.pagination-next-button:hover {
    color: var(--v-primary-base) !important;
    border-color: var(--v-primary-base) !important;
    // background-color: var(--v-white-base) !important;
    background-color: var(--v-light-flat-primary-base) !important;
}
.pagination-prev-button:hover {
    color: var(--v-primary-base) !important;
    border-color: var(--v-primary-base) !important;
    background-color: var(--v-white-base) !important;
    background-color: var(--v-light-flat-primary-base) !important;
}
.pagination-last-button:hover {
    // color: var(--v-primary-base) !important;
    border-color: var(--v-primary-base) !important;
    background-color: var(--v-white-base) !important;
    border-color: var(--v-primary-base) !important;
    background-color: var(--v-dark-primary-base) !important;
}
.pagination-first-button:hover {
    // color: var(--v-primary-base) !important;
    border-color: var(--v-primary-base) !important;
    background-color: var(--v-white-base) !important;
    border-color: var(--v-primary-base) !important;
    background-color: var(--v-dark-primary-base) !important;
}
.pagination-next-button:focus {
    color: var(--v-primary-base) !important;
    border-color: var(--v-primary-base) !important;
    background-color: var(--v-light-flat-primary-base) !important;
}
.pagination-prev-button:focus {
    color: var(--v-primary-base) !important;
    border-color: var(--v-primary-base) !important;
    background-color: var(--v-light-flat-primary-base) !important;
}
.pagination-last-button:focus {
    color: var(--v-primary-base) !important;
    border-color: var(--v-primary-base) !important;
    background-color: var(--v-light-flat-primary-base) !important;
}
.pagination-first-button:focus {
    color: var(--v-primary-base) !important;
    border-color: var(--v-primary-base) !important;
    background-color: var(--v-light-flat-primary-base) !important;
}
.pagination-next-button:active {
    color: var(--v-white-base) !important;
    border-color: v ar(--v-white-base) !important;
    background-color: var(--v-primary-base) !important;
}
.pagination-prev-button:active {
    color: var(--v-white-base) !important;
    border-color: var(--v-white-base) !important;
    background-color: var(--v-primary-base) !important;
}
.pagination-last-button:active {
    color: var(--v-white-base) !important;
    border-color: var(--v-white-base) !important;
    background-color: var(--v-primary-base) !important;
}
.pagination-first-button:active {
    color: var(--v-white-base) !important;
    border-color: var(--v-pwhite-base) !important;
    background-color: var(--v-primary-base) !important;
}
.body-tool-bar {
    .icon-erp-delete,
    .icon-erp-add-circle {
        margin-inline-end: 5px;
        font-size: 20px;
    }
}

.input-pagination-in-med {
    background-color: var(--v-primary-base);
    padding-inline: 4px;
    width: 50px;
    text-align: center;
    transition: all 0.3s ease;
}
.input-pagination-in-med:hover {
    background-color: var(--v-dark-primary-base);
    transition: all 0.3s ease;
}
.input-pagination-in-med:focus {
    outline: none;
    transition: all 0.3s ease;
}
