*{
    font-family: 'Scheherazade';
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    direction: rtl;
}
:root{
    --gradient:linear-gradient(90deg, #4E944F, #83BD75);
}

body{
     background-color: #ECE7B4;;
    }
    
*{    
    margin:0; padding:0;
    box-sizing: border-box;
    border:none; outline: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

*::selection{
    background:#83BD75;
    color:#83BD75;
}

/* html{
    font-size: 62.5%;
    overflow-x: hidden;
} */

html::-webkit-scrollbar{
    width:1.5rem;
}

html::-webkit-scrollbar-track{
    background:rgb(56, 53, 59);
}

html::-webkit-scrollbar-thumb{
    background:linear-gradient(#32502E, #406343);
}
.main-text{
    font-family: 'Cairo', sans-serif;
    font-family: 'Lalezar', cursive;
    font-family: 'Noto Sans Arabic', sans-serif;
}
.s{
    background-image: url("http://imageupload.mhacd.com/uploads/021037lib (1).jpg");
    background-size: cover;
    background-color: rgb(43, 43, 43);
    min-height: 120vh;
    position: relative;
    direction: rtl;
}
.s h1{
     margin-top: 200px !important; 
    position: absolute;
    color: white!important;
    font-family: 'Cairo', sans-serif;
    font-size: 50px !important;
}
.p1{
    /* position: absolute; */
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-family: 'Cairo', sans-serif;
    border: 1px solid #83BD75; 
    border-radius: 50px; 
    background-color: #406343;
    padding: 6px 40px 6px 40px;
}
.p1:hover{
    filter:opacity(90%);
    cursor: pointer;
    color: #ECE7B4;
}
.to{
    font-size: 58px;
    color: white !important;
}
.nav-link:hover{
    color: #4E944F !important;
}
.navbar-toggler:focus {
    box-shadow: none;
}
.overlay{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 60%);
}
.footer{
    background: #83BD75;
}

.footer .box-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer .box-container .box{
    margin:1.5rem;
    text-align: center;
    flex:1 1 25rem;
}

.footer .box-container .box h3{
    font-size: 2.5rem;
    color:#fff;
    padding:1rem 0;
}

.footer .box-container .box p{
    font-size: 1.7rem;
    color:#eee;
    padding:.7rem 0;
}

.footer .box-container .box p i{
    padding-right: .5rem;
    color:#4E944F;
}

.footer .box-container .box a{
    font-size: 1.8rem;
    display: block;
    padding:.5rem 0;
    color:#eee;
}

.footer .box-container .box a:hover{
    text-decoration: underline;
}

.footer .credit{
    padding:2rem 1rem;
    font-size: 2rem;
    color:#fff;
    background:rgb(0, 0, 0);
    text-align: center;
    font-weight: normal;
    padding-bottom: 0.5rem;
    margin: 0 !important;
}

.footer .credit a{
    color:#4E944F
}
header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top:0; left: 0;
    z-index: 1000;
    padding:1.5rem 7%;
    background:#32502E;
    box-shadow: 0 .1rem .3rem rgba(0,0,0,.3);
}

header .logo{
    color:rgb(255, 255, 255);
    font-size: 2.5rem;
}

header .navbar ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

header .navbar ul li{
    margin:0 1rem;
}

header .navbar ul li a{
    font-size: 2rem;
    color:#fff;
}

header .navbar ul li a.active,
header .navbar ul li a:hover{
    color:#ECE7B4;
}

header #login{
    font-size: 3rem;
    color:#fff;
    cursor: pointer;
}

header #login:hover{
    color:#ECE7B4;
}

header #menu{
    font-size: 3rem;
    color:rgb(255, 247, 247);
    cursor: pointer;
    display: none;
}





@media (max-width:768px){

    html{
        font-size: 55%;
    }

    header #menu{
        display: block;
    }

    header .navbar{
        position: fixed;
        top:-120%; left:0;
        width:100%;
        background:#444;
    }

    header .navbar ul{
        flex-flow: column;
        padding:2rem 0;
    }

    header .navbar ul li{
        margin:1.5rem 0;
        text-align: center;
        width:100%;
    }

    header .navbar ul li a{
        font-size: 2.5rem;
        display: block;
    }

    header .navbar ul li a.active,
    header .navbar ul li a:hover{
        color:#ECE7B4;
    }

    .fa-times{
        transform: rotate(180deg);
    }

    header .navbar.nav-toggle{
        top:6.4rem;
    }

    .home h1{
        font-size: 4rem;
    }

    .home p{
        width: auto;
    }

    .teacher p{
        width:auto;
    }

    .contact .row .image{
        display: none;
    }

}

@media (max-width:500px){

    html{
        font-size: 50%;
    }

    .contact .row form .box{
        width:100%;
    }

}