.searchTable {
    ::v-deep {
        .v-data-table-header {
            background-color: var(--v-primary-darken2);
            border-radius: 14px;

            span {
                color: var(--v-white-base) !important;
            }
        }
        .v-data-table__wrapper {
            border-radius: 12px !important;
        }
        .theme--light.v-data-table tbody tr.v-data-table__selected {
            background: var(--v-white-darken2);
        }
    }
}
.input-with-search {
    ::v-deep {
        .v-input__icon--append {
            button {
                color: var(--v-white-darken2);
            }
        }
    }
}
