.text-input {
    ::v-deep {
        .v-input__control .v-input__slot {
            min-height: 34px !important;
            height: 34px;
            background-color: var(--v-white-base);
        }
        .v-text-field--outlined:not(.v-input--is-focused):not(.v-input--has-state)
            > .v-input__control
            > .v-input__slot
            fieldset {
            color: var(--v-border-gray-base);
            transition: all 0.15s ease-in;
        }
        .v-text-field--outlined:not(.v-input--is-focused):not(.v-input--has-state):not(.v-input--is-disabled)
            > .v-input__control
            > .v-input__slot:hover
            fieldset {
            transition: all 0.15s ease-in;
            color: var(--v-border-gray-base);
        }
        .text-input[data-v-520ca20d]
            .v-text-field--outlined:not(.v-input--is-focused):not(.v-input--has-state)
            > .v-input__control
            > .v-input__slot
            fieldset {
            transition: all 0.15s ease-in;
        }
        .v-text-field--outlined.v-input--is-focused fieldset,
        .v-text-field--outlined.v-input--has-state fieldset {
            border-width: 1px;
        }
        .v-input__control {
            height: fit-content;
        }

        .v-input__slot {
            margin-bottom: 0px;
        }

        .v-text-field.v-text-field--enclosed .v-text-field__details {
            margin-bottom: 0px;
        }
        .v-text-field__details {
            display: none;
        }
        .v-text-field__details {
            padding: 0px 2px;
        }

        .v-text-field--filled > .v-input__control > .v-input__slot,
        .v-text-field--full-width > .v-input__control > .v-input__slot,
        .v-text-field--outlined > .v-input__control > .v-input__slot {
            min-height: 34px;
        }
        .v-label {
            font-size: 12px;
        }
        .v-text-field--full-width .v-input__prepend-outer,
        .v-text-field--full-width .v-input__prepend-inner,
        .v-text-field--full-width .v-input__append-inner,
        .v-text-field--full-width .v-input__append-outer,
        .v-text-field--enclosed .v-input__prepend-outer,
        .v-text-field--enclosed .v-input__prepend-inner,
        .v-text-field--enclosed .v-input__append-inner,
        .v-text-field--enclosed .v-input__append-outer {
            margin-top: 5px;
        }
        .v-input__icon--clear button {
            font-size: 17px;
            color: var(--v-border-gray-base);
        }

        .v-text-field--outlined {
            .v-label--active {
                transform: translateY(-15px) scale(0.75);
            }
            .v-label {
                top: 7px;
            }
        }
    }
}
