.erp-select::v-deep {
    .v-text-field__details {
        display: none;
    }

    .v-text-field--outlined:not(.v-input--is-focused):not(.v-input--has-state)
        > .v-input__control
        > .v-input__slot
        fieldset {
        color: var(--v-border-gray-base);
    }

    .v-text-field--outlined:not(.v-input--is-focused):not(.v-input--has-state):not(.v-input--is-disabled)
        > .v-input__control
        > .v-input__slot:hover
        fieldset {
        color: var(--v-border-gray-base);
    }
    .v-input__control .v-input__slot {
        min-height: 34px !important;
        height: 34px;
        background-color: var(--v-white-base);
    }

    .v-input__prepend-outer,
    .v-input__prepend-inner,
    .v-input__append-inner,
    .v-input__append-outer,
    .v-input__prepend-outer,
    .v-input__prepend-inner,
    .v-input__append-inner,
    .v-input__append-outer {
        margin-top: 6px !important;
    }

    .v-text-field--outlined.v-input--dense .v-label--active {
        transform: translateY(-15px) scale(0.75);
    }

    .v-text-field--outlined.v-input--is-focused fieldset,
    .v-text-field--outlined.v-input--has-state fieldset {
        border-width: 1px;
    }
    .mdi-menu-down {
        color: var(--v-border-gray-darken1);
    }
    .v-input__icon--clear button {
        font-size: 17px;
        color: var(--v-border-gray-base);
    }
    .v-label {
        /* font-size: 16px; */
        font-size: 14px;
        top: 7px;
    }
    .v-input__control > .v-input__slot {
        margin-bottom: 0px;
    }
}
