*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    direction: rtl;
}
:root{
    --gradient:linear-gradient(90deg, #32502E, #406343);
}

body{
    background-color: #ECE7B4;
    overflow-x: hidden !important;
    font-family: 'Cairo', sans-serif !important;

    }
*{
    
    margin:0; padding:0;
    box-sizing: border-box;
    border:none; outline: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

*::selection{
    background:#32502E;
    color:#406343;
}

 html   {
    font-size: 62.5%;
    overflow-x: hidden;
}

html::-webkit-scrollbar{
    width:1.5rem;
}

html::-webkit-scrollbar-track{
    background:rgb(56, 53, 59);
}
/*الخط يلي على الجنب */
html::-webkit-scrollbar-thumb{
    background:linear-gradient(#32502E, #406343);
}

section{
    min-height: 100vh;
    padding:1rem 7%;
    padding-top:6rem;
}
/*the buttons*/
.btn{
    padding:.7rem 3rem;
    font-size: 2rem;
    color:rgb(255, 255, 255);
    /* background:var(--gradient); */
    background-color: #32502E;
    border-radius: 5rem;
    margin-top: 1rem;
    cursor: pointer;
    box-shadow: 0 .1rem .3rem rgba(199, 193, 193, 0.3);
    position: relative;
    overflow: hidden;
    z-index: 0;
}
/*the buttons before*/
.btn::before{
    content: '';
    position: absolute;
    top:-1rem; left:-100%;
    background:#406343;
    height:150%;
    width:20%;
    transform: rotate(25deg);
    z-index: -1;
}

.btn:hover::before{
    transition: .3s linear;
    left: 120%;
}
/*Main writing*/
.heading{
    color:#32502E;
    padding:1rem;
    font-size: 4rem;
    text-align: center;
}
/*Navbar*/
header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top:0; left: 0;
    z-index: 1000;
    padding:1.5rem 7%;
    /* background:var(--gradient); */
    background-color: #32502E;
    box-shadow: 0 .1rem .3rem rgba(0,0,0,.3);
}
/*Logo*/
header .logo{
    color:#F3EFCC;
    font-size: 2.5rem;
}

header .navbar ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

header .navbar ul li{
    margin:0 1rem;
}

header .navbar ul li a{
    font-size: 2rem;
    color:#fff;
}

header .navbar ul li a.active,
header .navbar ul li a:hover{
    color:#B4E197;
}
/*Registration page*/
header #login{
    font-size: 3rem;
    color:#fff;
    cursor: pointer;
}

header #login:hover{
    color:#444;
}
/*القائمة يس وقت تصغري الشاشة */
header #menu{
    font-size: 3rem;
    color:rgb(255, 247, 247);
    cursor: pointer;
    display: none;
}

.login-form{
    // height:100%;
    // width:100%;
    // position: fixed;
    // top:-120%; left: 0;
    // z-index: 1000;
    // background:rgba(0, 0, 0, 0.5);
    // display: flex;
    // align-items: center;
    // justify-content: center;
}

.login-form.popup{
    top:0;
}

.login-form form{
    width:100%;
    background:#ECE7B4;
    // margin:0 2rem;
    padding:1rem 3rem;
    border-radius: .5rem;
    box-shadow: 0 .1rem .3rem #333;
    position: relative;
}

.login-form form h3{
    font-size: 2rem;
    color:#665e5e;
    padding:1rem 0;
}

.login-form form .box{
    width:100%;
    padding:1rem 0;
    margin:1rem 0;
    border-bottom: .2rem solid #666;
    font-size: 1.6rem;
    color:#333;
    text-transform: none;
}

.login-form form .box::placeholder{
    text-transform: capitalize;
}

.login-form form .box:focus{
    border-color: #524e4e;
}

.login-form form .box:nth-child(3){
    margin-bottom: 5rem;
}

.login-form form p{
    font-size: 1.4rem;
    color:#666;
    padding:.5rem 0;
}

.login-form form p a{
    color:#666060;
}

.login-form form .btn{
    width: 100%;
    margin:2rem 0;
}

.login-form form .btn:hover{
    background:#406343;
}

.login-form form .fa-times{
    position: absolute;
    top:1.5rem; right:2rem;
    font-size: 2.5rem;
    cursor: pointer;
    color:#999;
}

.login-form form .fa-times:hover{
    color:#444;
}

.home{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    background:url('https://i.ibb.co/GRC9Dvt/backg.png') no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    text-align: center;
}


.home h1{
    font-size: 10rem;
    color:rgb(75, 70, 70);
}

.home p{
    font-size: 1.9rem;
    color:rgb(77, 74, 74);
    padding:1rem 0;
    width:70rem;
}

.home .shape{
    position: absolute;
    bottom:-.2rem; left: 0;
    height:15rem;
    width:100%;
    background:url('https://i.ibb.co/pK3YCzZ/shape.png');
    block-size: 100rem 15rem;
    filter: drop-shadow(0 -.1rem .1rem rgba(0,0,0,.2));
    animation: animate 10s linear infinite;
}

@keyframes animate{

    0%{
        background-position-x: 0rem;
    }

    100%{
        background-position-x: 100rem;
    }

}

.about{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #406343;
}

.about .image{
    flex:1 1 40rem;
}

.about .image img{
    height:65vh;
    width:80%;
}

.about .content{
    flex:1 1 40rem;
}

.about .content h3{
    font-size: 4rem;
    color:rgb(255, 255, 255);
}

.about .content p{
    font-size: 1.9rem;
    color:rgb(255, 255, 255);
    padding:1rem 0;
}
.course{
    background-color: #E9EFC0;
}

.course .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #E9EFC0;
}

.course .box-container .box{
    width:35rem;
    border:.1rem solid rgba(0,0,0,.3);
    position: relative;
    margin:1.9rem;  
}

.course .box-container .box img{
    height: 18rem;
    width: 100%;
    object-fit: cover;
}

.course .box-container .box .content{
    padding:3rem;
}

.course .box-container .box .content .stars i{
    color:#ECE7B4;
    font-size: 0rem;
    padding:1rem .0rem;
}

.course .box-container .box .content .title{
    color:rgb(0, 0, 0);
    font-size: 2.5rem;
}

.course .box-container .box .content .title:hover{
    text-decoration: underline;
}

.course .box-container .box .content p{
    padding:1rem 0;
    color:rgb(0, 0, 0);
    font-size: 1.8rem;
}

.course .box-container .box .content .info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: .5rem;
    border-top: .1rem solid rgba(139, 12, 12, 0.3);
}

.course .box-container .box .content .info h3{
    font-size: 1.5rem;
    padding:1rem;
    color:#666;
}

.course .box-container .box .content .info h3 i{
    color:#fff;
}

.course .box-container .box .price{
    position: absolute;
    top:16rem; right:1rem;
    height:8rem;
    width:8rem;
    line-height: 8rem;
    text-align: center;
    border-radius: 50%;
    background:var(--gradient);
    color:#fff;
    font-size: 3rem;
}

.library{
    text-align: center;
    background:url('https://i.ibb.co/1KDvzdm/back-2.jpg') no-repeat;
    background-size: cover;
    background-position: bottom;
}

.library p{
    font-size: 3rem;
    color:#4E944F;
    width:65rem;
    margin:1rem auto;
}

.contact{
    background:#406343;
}

.contact .heading{
    color:#ECE7B4;
}

.contact .row{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}

.contact .row form{
    flex:1 1 50rem;
    background:#fff;
    padding:1rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 3rem;
    align-items: flex-start;
}

.contact .row form .box{
    height:5rem;
    width:49%;
    border:.1rem solid #4E944F;
    padding:0 1rem;
    margin:1rem 0;
    font-size: 1.7rem;
    color:#4E944F;
    background:none;
    text-transform: none;
}

.contact .row form .box:focus{
    border-color: #4E944F;
}

.contact .row form .box::placeholder{
    text-transform: capitalize;
}

.contact .row form .address{
    height:15rem;
    padding:1rem;
    resize: none;
    width:100%;
}

.contact .row form .btn:hover{
    background:#4E944F;
    color:#E9EFC0;
}

.contact .row .image img{
    height: 80vh;
    margin-top: 2rem;
}

.footer{
    background: #4E944F;
}

.footer .box-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer .box-container .box{
    margin:1.5rem;
    text-align: center;
    flex:1 1 25rem;
}

.footer .box-container .box h3{
    font-size: 2.5rem;
    color:#ECE7B4;
    padding:1rem 0;
}

.footer .box-container .box p{
    font-size: 1.7rem;
    color:#ECE7B4;
    padding:.7rem 0;
}

.footer .box-container .box p i{
    padding-right: .5rem;
    color:#ECE7B4;
}

.footer .box-container .box a{
    font-size: 1.8rem;
    display: block;
    padding:.5rem 0;
    color:#ECE7B4;
}

.footer .box-container .box a:hover{
    text-decoration: underline;
}

.footer .credit{
    padding:2rem 1rem;
    font-size: 2rem;
    color:#fff;
    background:rgb(0, 0, 0);
    text-align: center;
    font-weight: normal;
    padding-bottom: 0.5rem;
    margin: 0 !important;
}

.footer .credit a{
    color:#406343
}

















@media (max-width:768px){

    html{
        font-size: 55%;
    }

    header #menu{
        display: block;
    }

    header .navbar{
        position: fixed;
        top:-120%; left:0;
        width:100%;
        background:#444;
    }

    header .navbar ul{
        flex-flow: column;
        padding:2rem 0;
    }

    header .navbar ul li{
        margin:1.5rem 0;
        text-align: center;
        width:100%;
    }

    header .navbar ul li a{
        font-size: 2.5rem;
        display: block;
    }

    header .navbar ul li a.active,
    header .navbar ul li a:hover{
        color:#4E944F;
    }

    .fa-times{
        transform: rotate(180deg);
    }

    header .navbar.nav-toggle{
        top:6.4rem;
    }

    .home h1{
        font-size: 4rem;
    }

    .home p{
        width: auto;
    }

    .teacher p{
        width:auto;
    }

    .contact .row .image{
        display: none;
    }

}

@media (max-width:500px){

    html{
        font-size: 50%;
    }

    .contact .row form .box{
        width:100%;
    }

}
img {
    border: 1px solid grey;
}